{% extends 'Asignaturas/base.html' %}
{% block content %}
<div class="container text-center">
<h4>
Bienvenido al Sistema de oferta de Asignaturas
</h4>
<br>
<h5> El sistema permite: </h5>
<h5>
<ul class="text-center" style="text-align: left;">
	<li>Gestionar los profesores del departamento</li>
	<li>Gestionar las materias del departamento</li>
	<li>Consruir una oferta de materias tentativa para el trimestre</li>
	<li>Permite a los profesores expresar sus preferencias sobre materias a ofertar</li>
	<li>Construir la oferta trimestral del departamento</li>
	<li>Notificar a las coordinaciones de la oferta del departamento</li>
</ul>
</h5>
</div>
{% endblock %}
