{% extends 'Asignaturas/base.html' %}


  <head>
    <title>Modificar Oferta</title>
    {% block estilos %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static "css/chosen/style.css" %}">
    <link rel="stylesheet" href="{% static "css/chosen/prism.css" %}">
    <link rel="stylesheet" href="{% static "css/chosen/chosen.css" %}">

    {% endblock %}

  </head>
  {% block content %}
  <body>
<div class="container">
  <div class="row justify-content-center">

    <div>
    <form action='' method="post">
      <div class="text-center">
        <h5 style="padding-top: 2rem;">Modificar Oferta</h5>
        {% csrf_token %}
      <div class="form-group">
        <label for="asignatura">Asignatura</label>
        <select name="asignatura" id="asignatura">
          <option value={{oferta.materia}} selected>{{oferta.materia.nombre}}</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="cedula">Profesores</label>
        <select name="cedula">
          {% for p in profesores %}
            {% if oferta.profesor.cedula == p.cedula %}
            <option value={{p.cedula}} selected>{{p.nombre}} {{p.apellido}}</option>
            {% else %}
            <option value={{p.cedula}}>{{p.nombre}} {{p.apellido}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <input type="submit" name = "modo" class="btn btn-primary" value="Modificar">
    </form>
      </div>
</div>
</div>
        <script src="{% static "js/chosen/chosen.jquery.js" %}"></script>
        <script src="{% static "js/chosen/prism.js" %}"></script>
        <script src="{% static "js/chosen/init.js" %}"></script>
</body>
  {% endblock %}