<!-- <!doctype html>

<html lang="en">
  
  <head>
    
    <meta charset="utf-8">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <title>Registro</title>
  
  </head>
  
  <body>

    <div class="container">
      <div class="row justify-content-center">
        
        <form action="" method="post">
        	{% load crispy_forms_tags %}
          <h1 class="mt-2">Registro de asignaturas</h1>
          <hr class="mt-0 mb-4">
          {% csrf_token %}
          {{form.as_p }}
  		    <input type="submit"  class="btn btn-primary" value="Enviar">
			   </form>

      </div>
    </div>

  </body>
  
</html> -->