{% extends 'Asignaturas/base.html' %}
{% load static %}
<!doctype html>

  
  <head>

    {% block estilos %}
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <title>Registro</title>
    <link rel="stylesheet" href="{% static "css/chosen/style.css" %}">
    <link rel="stylesheet" href="{% static "css/chosen/prism.css" %}">
    <link rel="stylesheet" href="{% static "css/chosen/chosen.css" %}">
    {% endblock %}
  </head>
  
  {% block content %}
  <body>

    <div class="container">
      <div class="row justify-content-center">
        <form action="" method="post" style="padding-bottom: 3rem;">
            {% load crispy_forms_tags %}
            <div class="text-center">
              <br>
              <h3 class="mt-2">Registro de Asignatura</h3>
            </div>
            <hr class="mt-0 mb-4">
            {% csrf_token %}
            {{form.as_p }}
            <div class="text-center">
              <input type="submit"  class="btn btn-dark" value="Enviar">
            </div>
        </form>

      </div>
    </div>

        <script src="{% static "js/chosen/jquery-3.2.1.min.js" %}"></script>
        <script src="{% static "js/chosen/chosen.jquery.js" %}"></script>
        <script src="{% static "js/chosen/prism.js" %}"></script>
        <script src="{% static "js/chosen/init.js" %}"></script>
  </body>
  {% endblock %}
  
</html>
