{% extends 'Asignaturas/base.html' %}
{% load static %}

  <head>
    <title>Tabla Asignaturas</title>
    {% block estilos %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>

    
    <script src="{% static "js/tablaOferta.js" %}"></script>
    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    
    {% load static %}
    <link rel="stylesheet" href="{% static "css/chosen/style.css" %}">
    <link rel="stylesheet" href="{% static "css/chosen/prism.css" %}">
    <link rel="stylesheet" href="{% static "css/chosen/chosen.css" %}">



    {% endblock %}

  </head>


  {% block content %}
<body>
  <div class="container" style=" margin: 0 auto; background-color: White;padding-top: 2rem;">
    <div class="container text-center">
      <h3>Oferta de Asignaturas</h3>
      <h4>{{departamento.nombre}}</h4>
    </div>
    {% if messages %}
      <ul class="messages alert alert-success" style=" width: 50%; margin-left: 25%;">
          {% for message in messages %}
          <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
          {% endfor %}
      </ul>
    {% endif %}
    <div class="container text-right" style="padding-bottom: 2rem;">
      <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#agregar">Agregar Asignatura</button>
    </div>


    <table id="example" class="table table-striped table-bordered" style="width: 100%;">
      <thead>
        <tr>
          <th>Trimestre</th>
          <th>Código</th>
           <th>Créditos</th>
           <th>Asignatura</th>
           <th>Profesor</th>
           <th></th>
           <th></th>
        </tr>
      </thead>
      <tbody>
        {% for m in ofertas %}
          <tr>
            <td>{{m.trimestre}}</td>
            <td>{{m.materia.codigo}}</td>
            <td>{{m.materia.creditos}}</td>
            <td>{{m.materia.nombre}}</td>
            <td>
            {{m.profesor.nombre}} {{m.profesor.apellido}}
            </td>
            <td>
              <p data-placement="top" title="Modificar">
                <form action='' method="post">
                  {% csrf_token %}
                  <input type="hidden" name="item_id" value="{{m.codigo}}" />
                  <input type="submit" name = "modo" class="btn btn-primary" value="Modificar">

                </form>
              </p>
            </td>
            <td>
              <p data-placement="top" title="Eliminar">
                <form action='' method="post">
                   
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#eliminar">Eliminar</button>
                  <div class="modal fade" id="eliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Eliminar oferta</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>¿Está seguro de que desea eliminar la oferta?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                          {% csrf_token %}
                          <form action='' method="post">
                          <input type="hidden" name="item_id" value="{{m.codigo}}" />
                          <input type="submit" name = "modo" class="btn btn-primary" value="Eliminar">
                        </form>
                        </div>
                      </div>
                    </div>
                  </div>

                </form>
              </p>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="modal fade" id="agregar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Agregar Asignatura</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="" method="post">
           {% csrf_token %}
            <label for="asignatura">Asignatura</label>
            <select name="asignatura" id="asignatura">
            {% for m in materias %}
            <option value={{m.codigo}}>{{m.nombre}}</option>
            {% endfor %}
            </select>
            <br>
            <label for="profesores_oferta">Profesores</label>
            <select name="profesores_oferta" id="profesores_oferta" multiple="multiple">
              {% for p in profesores %}
            <option value={{p.cedula}}>{{p.nombre}} {{p.apellido}}</option>
            {% endfor %}
            </select>
            
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <input type="submit" name = "modo" class="btn btn-primary" value="Agregar">
        </form>

        </div>
      </div>
    </div>

  </div>
  <p>{{pro.h}}</p>
        <script src="{% static "js/chosen/chosen.jquery.js" %}"></script>
        <script src="{% static "js/chosen/prism.js" %}"></script>
        <script src="{% static "js/chosen/init.js" %}"></script>
</body>
{% endblock %}