{% extends 'Asignaturas/base.html' %}
{% load static %}

  <head>
    <title>Tabla Asignaturas</title>
    {% block estilos %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>


    <script src="{% static "js/tablaOferta.js" %}"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">


    {% load static %}
    <link rel="stylesheet" href="{% static "css/chosen/style.css" %}">
    <link rel="stylesheet" href="{% static "css/chosen/prism.css" %}">
    <link rel="stylesheet" href="{% static "css/chosen/chosen.css" %}">


    {% endblock %}

  </head>


  {% block content %}
<body>
  <div class="container" style=" margin: 0 auto; background-color: White;padding-top: 2rem;">
    <div class="container text-center">
      <h3><b>Oferta Trimestral del Departamento</b></h3>
      <h4>{{ departamento.nombre }}</h4>
      <br>
    </div>
    {% block navbar %}
    {% endblock %}

    <table id="ofertaCoord" class="table table-striped table-bordered" style="width: 100%;">
      <thead>
        <tr>
          <th>Trimestre</th>
          <th>Código</th>
           <th>Créditos</th>
           <th>Asignatura</th>
           <th>Profesor</th>
        </tr>
      </thead>
      <tbody>
        {% for m in ofertas %}
          <tr>
            <td>{{m.trimestre}}</td>
            <td>{{m.materia.codigo}}</td>
            <td>{{m.materia.unidadesCredito}}</td>
            <td>{{m.materia.nombre}}</td>
            {% if m.profesor == None %}
            <td>No hay profesor asignado</td>
            {% else %}
            <td>
            {{m.profesor.nombre}} {{m.profesor.apellido}}
            </td>
            {% endif %}
           
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

        <script src="{% static "js/chosen/chosen.jquery.js" %}"></script>
        <script src="{% static "js/chosen/prism.js" %}"></script>
        <script src="{% static "js/chosen/init.js" %}"></script>

</body>
{% endblock %}
