body{
	background-image: url("usb.png");
	background-size: 40%;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 1%;
}

.container{
	border-style: solid;
}

.formulario {
	margin-top: 25%;
	text-align: center;
	margin-bottom: 1%;
}
form{
	margin-top: 5%;
	display: inline-block;
}
.form-group{
	text-align: left;
}
li{
	display: inline;
}
ul{
	text-align: center;
}
img{
	width: 200px;
	height: 150px;
}